@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.header {
    display: flex;
}

.project-container {
    width: 60%;
    padding: 0 20%;
    text-align: justify;
    margin-top: 25vh;

}

.project-title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.project-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

p {
    line-height: 1.2rem;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

video {
    width: 100%;
}


@media screen and (max-width: 750px){
    .project-container {
        width: 90%;
        padding: 0 5%;
    }

    .project-title {
        font-size: 1.5rem;
        margin-top: 0px;
    }

}

