body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.80;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.section-black {
  background-color: #000;
  color: #ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:30px;
  letter-spacing:8px;
  line-height: 2rem;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.phone-number {
  color: #666;
  font-weight: bold;
  font-size: 14pt;
}

.portfolio-container {
  text-align:center;
  padding:50px 0;
  width: 100%;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio > article {
  flex: 1;
}

.project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: coral;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }

  .section {
    padding: 30px 20px;
    text-align: justify;
  }

  .ptext {
    letter-spacing: 0;
  }
  
  .portfolio {
    flex-direction: column;
  }

  .project {
    width: 100%; 
  }
}
